{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid" style="position: relative;top: 50%;transform: translateY(50%);">
      <div class="row justify-content-center">
        <h3><u>Contact details</u></h3>
      </div>
      <div class="row justify-content-center">
        <p>Our phone numbers are 617-876-4897 or 617-876-0012</p>
      </div>
      <div class="row justify-content-center">
        <p>Our fax number is 617-661-6188</p>
      </div>
      <div class="row justify-content-center">
        <p>Find us on Twitter @PinocchiosPizz</p>
      </div>
      <div class="row justify-content-center">
        <p>And Instagram @pinocchiospizza1</p>
      </div>
      <div class="row justify-content-center">
        <p>If you have any questions or comments or would like to get on our email list you can email us at pinocchiospizza1@gmail.com</p>
      </div>
    </div>

{% endblock %}
