{% extends 'orders/header.html' %}



{% block content %}



    <div class="container">

      <h4 style="margin:10px; text-align:center;"> Choose one of the Platters </h4>

      <div class="row justify-content-center" >

        <table class="table"  style="border: 2px solid black">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Dinner Platter</th>
              <th scope="col">Small</th>
              <th scope="col">Large</th>
            </tr>
          </thead>
          <tbody>
            {% for dish in dishes %}
              <tr>
                <th>{{dish.dish_name}}</th>
                <td><button type="button" class="btn btn-primary" onclick="add_to_cart({item_description:'Small - {{dish.dish_name}}' , price:{{dish.small_price}} })" ><strong>{{dish.small_price}}</strong></button></td>
                <td><button type="button" class="btn btn-success" onclick="add_to_cart({item_description:'Large - {{dish.dish_name}}' , price:{{dish.large_price}} })" ><strong>{{dish.large_price}}</strong></button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>

    </div>

{% endblock %}
