{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid" style="position: relative;top: 50%;transform: translateY(50%);">
      <div class="row justify-content-center">
        <h3>Opening hours</h3>
      </div>
      <div class="row justify-content-center">
        <p>Sunday	1 pm - 12 midnight</p>
      </div>
      <div class="row justify-content-center">

        <p>Monday - Thursday	11 am - 1 am</p>

      </div>
      <div class="row justify-content-center">
        <p>Friday - Saturday	11 am - 2:30 am*</p>
      </div>
      <div class="row justify-content-center">
        <p>Please note that when the undergraduate students are not in session we close on Friday and Saturday night at 1:00 am instead of 2:30 am.</p>
      </div>
    </div>

{% endblock %}
