{% extends 'orders/header.html' %}
{% load custom_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center">
    {% if user.is_superuser %}
      <h2>List of orders are below...</h2>
    {% else %}
      <h2> Orders by: {{user.get_username}} </h2>
    {% endif %}

    <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">Ordered by</th>
          <th scope="col">When?</th>
          <th scope="col">Order</th>
          <th scope="col">Amount Paid</th>
        </tr>
        </thead>
        <tbody>
          {% for row in rows %}
            <tr>
              <td>{{row.username}}</td>
              <td>{{row.time_of_order}}</td>
              <td>
                <ul>
                  {% for item in row.order|format_cart %}
                    <li>{{item|format_cart_item}}</li>
                  {% endfor %}
                </ul>
              </td>
              <td>£{{row.price}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

  </div>
</div>




{% endblock %}
